# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# Environment Variables
.env

# VS Code
.vscode/

# Database
*.db

# Alembic cache
alembic/versions/__pycache__/

# OS
.DS_Store
Thumbs.db

# Logs
*.log